<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mapper.CommentSecretMapper">
	<resultMap id="BaseResultMap" type="com.springboot.model.CommentSecret">
		<id column="id" property="id" />
		<result column="content" property="content" />
		<result column="user_id" property="userId" />
		<result column="create_time" property="createTime" />
		<result column="secret_id" property="secretId" />
	</resultMap>
	<insert id="insert" parameterType="com.springboot.model.CommentSecret"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		comment_secret(content,user_id,create_time,secret_id)
		values(#{content}, #{userId},now(),#{secretId})
	</insert>
	<select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select u.name as name,u.photo as photo ,u.sex as sex, cs.content as
		content from comment_secret
		cs join user u on u.id=cs.user_id
		where cs.secret_id=#{secretId} order by cs.create_time desc
	</select>
</mapper>