<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mapper.CommentSecretMapper">
	<resultMap id="BaseResultMap" type="com.springboot.model.CommentSecret">
		<id column="id" property="id" />
		<result column="content" property="content" />
		<result column="user_id" property="userId" />
		<result column="create_time" property="createTime" />
		<result column="secret_id" property="secretId" />
		<result column="comment_id" property="commentId" />
		<result column="praise" property="praise" />
		<result column="address" property="address" />
		<result column="comment_count" property="commentCount" />
		<result column="user_to_user" property="userToUserId" />
	</resultMap>
	<insert id="insert" parameterType="com.springboot.model.CommentSecret"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		comment_secret(content,user_id,create_time,secret_id)
		values(#{content}, #{userId},now(),#{secretId})
	</insert>
	<select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select cs.address,u.name as name,u.photo as photo ,cs.comment_count as commentCount, u.sex as sex, cs.content as
		content,cs.praise as praise from comment_secret
		cs join user u on u.id=cs.user_id
		where cs.secret_id=#{secretId} order by cs.create_time desc
	</select>
	<insert id="insertCommentUser" parameterType="com.springboot.model.CommentSecret"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		comment_secret(content,user_id,create_time,comment_id,user_to_user)
		values(#{content}, #{userId},now(),#{commentId},#{userToUserId})
	</insert>
	<update id="saveCommentPraise" parameterType="java.lang.Integer">
		update comment_secret set praise=praise+1 where id=#{commentId}
	</update>
	
	<update id="updateComment" parameterType="java.lang.Integer">
	update comment_secret set comment_count=comment_count+1 where id=#{commentId}
	</update>
	<select id="selectCommentToUserToUser" parameterType="java.lang.Integer" resultType="hashMap">
	select cs.id as cid,u.id as uid,u.`name`,uu.`name` as toName,cs.content
	from comment_secret cs join user u on u.id=cs.user_id
	left join user uu on uu.id=cs.user_to_user
	where cs.comment_id=#{commentId}
	</select>
</mapper>