<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mapper.UserSecretMapper">
	<resultMap id="BaseResultMap" type="com.springboot.model.UserSecret">
		<id column="id" property="id" />
		<result column="content" property="content" />
		<result column="user_id" property="userId" />
		<result column="create_time" property="createTime" />
		<result column="open_count" property="openCount" />
		<result column="comment_count" property="commentCount" />
		<result column="praise_count" property="praiseCount" />
		<result column="label" property="label" />
		<result column="title" property="title" />
		<result column="position" property="position" />
		<result column="pic" property="pic" />
		<result column="top" property="top" />
	</resultMap>
	<resultMap id="openSecret" type="com.springboot.model.OpenSecret">
		<id column="id" property="id" />
		<result column="secret_id" property="secretId" />
		<result column="user_id" property="userId" />
		<result column="create_time" property="createTime" />
		<result column="pic_id" property="picId" />
	</resultMap>
	<insert id="insert" parameterType="com.springboot.model.UserSecret">
		insert into
		user_secret(content,user_id,create_time,label,title,position,pic)
		values(#{content},#{userId},now(),#{label},#{title},#{position},#{pic})
	</insert>
	<select id="getUserSecretByCreateTimeDesc" resultType="hashMap">
		select u.photo,us.title,us.label,us.open_count,us.comment_count,us.praise_count
		 from user_secret us join user u  on  us.user_id=u.id 
		 where us.top is null  order  by  us.create_time desc
	</select>
	<select id="getUserSecretByTop" resultType="hashMap">
		select u.photo,us.title,us.label,us.open_count,us.comment_count,us.praise_count
		 from user_secret us join user u  on  us.user_id=u.id 
		 where us.top is not null  order  by  us.top asc limit #{pageNumber},#{pageSize}
	</select>

	<insert id="insertOpenSecret" parameterType="com.springboot.model.OpenSecret">
		insert into
		open_secret(secret_id,user_id,create_time,pic_id)
		values(#{secretId},#{userId},now(),#{picId})
	</insert>

	<select id="getOpenSecret" parameterType="com.springboot.model.OpenSecret"
		resultMap="openSecret">
		select * from open_secret where 1=1
		<if test="secretId!=null">
			and secret_id=#{secretId}
		</if>
		<if test="userId!=null">
			and user_id=#{userId}
		</if>
	</select>

	<select id="getTop" resultType="hashMap" parameterType="java.lang.Integer">
		select u.id as id,u.name as name,u.description as description,u.birthday as birthday,
		u.sex as sex,u.photo as photo,count(os.user_id) as countNum from open_secret os join user u on
		u.id=os.user_id
		where 
		<if test="type==1">
			to_days(os.create_time) = to_days(now())
		</if>
		<if test="type==2">
		  	YEARWEEK(date_format(os.create_time,'%Y-%m-%d')- INTERVAL 1 DAY) = YEARWEEK(now())
		</if>
		<if test="type==3">
			date_format(os.create_time,'%Y-%m')=date_format(now(),'%Y-%m')
		</if>
		GROUP BY os.user_id
		order by COUNT(os.user_id) desc limit 10
	</select>

	<select id="getOpenSecretAll"  resultType="hashMap" parameterType="java.lang.Integer">
	select u.photo as photo,u.sex as sex,u.name as name,u.birthday as birthday,
	u.description as description,us.content as content,us.id  as secretId
	from open_secret  os  join user_secret  us  on  us.id=os.secret_id  join user  u  on  u.id=us.user_id
	where os.user_id=#{userId}
	order  by os.create_time desc
	</select>
	<select id="getPublish" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	select * from user_secret  where user_id=#{userId}
	order by create_time desc
	</select>
	
	<select id="getBySecretId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select * from user_secret  where id=#{secretId}
	</select>
	<select id="deleteBySecretId"  parameterType="java.lang.Integer">
		delete  from user_secret where id=#{secretId}
	</select>
	<select id="deleteByOpenSecret"  parameterType="java.lang.Integer">
		delete  from open_secret where secret_id=#{secretId}
	</select>
	<update id="updateComment" parameterType="java.lang.Integer">
		update user_secret set comment_count=comment_count+1 where id=#{secretId}
	</update>
	<update id="updatePraise" parameterType="java.lang.Integer">
		update user_secret set praise_count=praise_count+1 where id=#{secretId}
	</update>
</mapper>