<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mapper.UserSecretMapper">
	<resultMap id="BaseResultMap" type="com.springboot.model.UserSecret">
		<id column="id" property="id" />
		<result column="content" property="content" />
		<result column="user_id" property="userId" />
		<result column="create_time" property="createTime" />
	</resultMap>
	<resultMap id="openSecret" type="com.springboot.model.OpenSecret">
		<id column="id" property="id" />
		<result column="secret_id" property="secretId" />
		<result column="user_id" property="userId" />
		<result column="create_time" property="createTime" />
	</resultMap>
	<resultMap id="questions" type="com.springboot.model.Questions">
		<id column="id" property="id" />
		<result column="title" property="title" />
	</resultMap>
	<resultMap id="questionsAnswer" type="com.springboot.model.QuestionsAnswer">
		<id column="id" property="id" />
		<result column="questions_id" property="questionsId" />
		<result column="answer" property="answer" />
		<result column="status" property="status" />
	</resultMap>
	<select id="getAnswer" resultMap="questionsAnswer"
		parameterType="java.lang.Integer">
		select * from questions_answer where questions_id=#{id}
	</select>
	<select id="getQuestions" resultMap="questions">
		select * from questions
		order by rand() limit 3
	</select>
	<insert id="insert" parameterType="com.springboot.model.UserSecret">
		insert into
		user_secret(content,user_id,create_time)
		values(#{content},#{userId},now())
	</insert>
	<select id="getUserSecret" resultMap="BaseResultMap" parameterType="java.util.List">
		select * from user_secret where 1=1 
		<if test="list!=null and  list.size()>0">
		and id  not in 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
        #{item.secretId}  
    	</foreach> 
		</if>
		order by rand() limit 1
	</select>

	<insert id="insertOpenSecret" parameterType="com.springboot.model.OpenSecret">
		insert into
		open_secret(secret_id,user_id,create_time)
		values(#{secretId},#{userId},now())
	</insert>

	<select id="getOpenSecret" parameterType="com.springboot.model.OpenSecret"
		resultMap="openSecret">
		select * from open_secret where 1=1
		<if test="secretId!=null">
			and secret_id=#{secretId}
		</if>
		<if test="userId!=null">
			and user_id=#{userId}
		</if>
	</select>

	<select id="getTop" resultType="hashMap">
		select u.id as id,u.name as name,u.description as description,u.birthday as birthday,
		u.sex as sex,u.photo as photo,count(os.user_id) as countNum from open_secret os join user u on
		u.id=os.user_id
		GROUP BY os.user_id
		order by COUNT(os.user_id) desc limit 10
	</select>

</mapper>